.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__submit:hover {
  background-color: #388ae2;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  display: flex;
  gap: 16px;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(30, 211, 196);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}
.remove {
  background-color: rgb(188, 65, 44);
}

.todos__heading {
  font-size: 30px;
  color: white;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.todos__single {
  display: flex;
  /* width: 29.5%; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: blanchedalmond;
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}
/* @media (max-width: 1200px) {
  .todos__single {
    width: 40%;
  }
} */

@media (max-width: 700px) {
  .input {
    width: 95%;
  }

  /* .todos__single {
    width: 100%;
  } */
  .container {
    width: 95%;
    flex-direction: column;
  }

  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
